# Concat All the Cities in West

In [1]:
import pandas as pd
import numpy as np

In [2]:
listings_detailed_seattle = pd.read_csv('data/listings_detailed_after_na_seattle.csv')
listings_detailed_la = pd.read_csv('data/listings_detailed_after_na_la.csv')
listings_detailed_sf = pd.read_csv('data/listings_detailed_after_na_sf.csv')
listings_detailed_portland = pd.read_csv('data/listings_detailed_after_na_portland.csv')
listings_detailed_clark = pd.read_csv('data/listings_detailed_after_na_clark.csv')

# Check Missing Values

In [3]:
listings_detailed_seattle.isnull().sum()

id                                   0
host_id                              0
host_name                            0
host_since                           0
host_location                        0
host_response_time                 720
host_response_rate                 720
host_acceptance_rate               455
host_is_superhost                    0
host_listings_count                  0
host_total_listings_count            0
host_verifications                   0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
room_type                            0
accommodates                         0
bathrooms_text                       0
bedrooms                             0
beds                                 0
amenities                            0
price                                0
number_of_reviews                    0
review_scores_value               1091
calculated_host_listings_count       0
amenities_count                      0
city                                 0
num_bath                             0
dtype: int64

In [4]:
listings_detailed_la.isnull().sum()

id                                    0
host_id                               0
host_name                             2
host_since                            0
host_location                         0
host_response_time                 9368
host_response_rate                 9368
host_acceptance_rate               8337
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  0
host_identity_verified                0
neighbourhood_cleansed                0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
bathrooms_text                        0
bedrooms                              0
beds                                  0
amenities                             0
price                                 0
number_of_reviews                     0
review_scores_value               11926
calculated_host_listings_count        0
amenities_count                       0
city                                  0
num_bath                              0
dtype: int64

In [5]:
listings_detailed_sf.isnull().sum()

id                                   0
host_id                              0
host_name                            0
host_since                           0
host_location                        0
host_response_time                1018
host_response_rate                1018
host_acceptance_rate               801
host_is_superhost                    0
host_listings_count                  0
host_total_listings_count            0
host_verifications                   0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
room_type                            0
accommodates                         0
bathrooms_text                       0
bedrooms                             0
beds                                 0
amenities                            0
price                                0
number_of_reviews                    0
review_scores_value               1346
calculated_host_listings_count       0
amenities_count                      0
city                                 0
num_bath                             0
dtype: int64

In [6]:
listings_detailed_portland.isnull().sum()

id                                  0
host_id                             0
host_name                           0
host_since                          0
host_location                       0
host_response_time                681
host_response_rate                681
host_acceptance_rate              388
host_is_superhost                   0
host_listings_count                 0
host_total_listings_count           0
host_verifications                  0
host_has_profile_pic                0
host_identity_verified              0
neighbourhood_cleansed              0
latitude                            0
longitude                           0
room_type                           0
accommodates                        0
bathrooms_text                      0
bedrooms                            0
beds                                0
amenities                           0
price                               0
number_of_reviews                   0
review_scores_value               625
calculated_host_listings_count      0
amenities_count                     0
city                                0
num_bath                            0
dtype: int64

In [7]:
listings_detailed_clark.isnull().sum()

id                                   0
host_id                              0
host_name                            0
host_since                           0
host_location                        0
host_response_time                 683
host_response_rate                 683
host_acceptance_rate               464
host_is_superhost                    0
host_listings_count                  0
host_total_listings_count            0
host_verifications                   0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
latitude                             0
longitude                            0
room_type                            0
accommodates                         0
bathrooms_text                       0
bedrooms                             0
beds                                 0
amenities                            0
price                                0
number_of_reviews                    0
review_scores_value               3650
calculated_host_listings_count       0
amenities_count                      0
city                                 0
num_bath                             0
dtype: int64

# Concat All the Data

In [8]:
# Assuming you have a list of DataFrames
dataframes_list = [listings_detailed_seattle,listings_detailed_la,listings_detailed_sf,listings_detailed_portland,listings_detailed_clark]  

# Concatenate all DataFrames in the list
stacked_data = pd.concat(dataframes_list, ignore_index=True)

In [9]:
stacked_data.shape

(74259, 30)

In [10]:
stacked_data

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,bedrooms,beds,amenities,price,number_of_reviews,review_scores_value,calculated_host_listings_count,amenities_count,city,num_bath
0,6606,14942,Joyce,2009-04-26,"Seattle, WA",within a few hours,100%,94%,f,5.0,...,1.0,1.0,"[""Air conditioning"", ""Hair dryer"", ""Bed linens...",99.0,159,4.57,3,27,Seattle,1.0
1,9419,30559,Angielena,2009-08-09,"Seattle, WA",within an hour,100%,98%,t,9.0,...,1.0,2.0,"[""Long term stays allowed"", ""Shared patio or b...",55.0,175,4.65,9,31,Seattle,3.0
2,9531,31481,Cassie,2009-08-13,"Seattle, WA",within a few hours,100%,77%,t,2.0,...,2.0,3.0,"[""Long term stays allowed"", ""Conditioner"", ""Cl...",175.0,71,4.90,2,63,Seattle,1.0
3,9534,31481,Cassie,2009-08-13,"Seattle, WA",within a few hours,100%,77%,t,2.0,...,2.0,2.0,"[""Long term stays allowed"", ""Conditioner"", ""Cl...",135.0,73,4.94,2,57,Seattle,1.0
4,9596,14942,Joyce,2009-04-26,"Seattle, WA",within a few hours,100%,94%,f,5.0,...,1.0,4.0,"[""Stove"", ""Hair dryer"", ""Shampoo"", ""Coffee mak...",130.0,97,4.56,3,28,Seattle,1.0

In [11]:
stacked_data.rename(columns={'neighbourhood_cleansed': 'neighborhood'}, inplace=True)

In [13]:
stacked_data['neighborhood']

0                 Wallingford
1                  Georgetown
2              Fairmount Park
3              Fairmount Park
4                 Wallingford
                 ...
74254    Unincorporated Areas
74255    Unincorporated Areas
74256    Unincorporated Areas
74257       City of Henderson
74258    Unincorporated Areas
Name: neighborhood, Length: 74259, dtype: object

In [14]:
stacked_data.to_csv('data/listings_detailed_after_na_west.csv', index=False)