In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/Users/eunji/Desktop/SP2024/big-data/project

In [3]:
df = pd.read_csv('clean-data/final-df.csv')

In [4]:
df

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,Fort Lauderdale Broward County,f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,Alpharetta GA,within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,Pompano Beach Broward County,f,ep,3
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,Southwest Ranches Broward County,f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,Fort Lauderdale FL,within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,Pompano Beach Broward County,f,pw,4
4,484515,637272,Bianca,2011-05-28,Buenos Aires Argentina,within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,Hollywood Broward County,f,ep,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,Chicago IL,within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,Lincoln Park Chicago,f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,Logan Square Chicago,f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,Chicago IL,NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,Uptown Chicago,f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,West Town Chicago,f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,West Town Chicago,f,ep,5

In [5]:
df.isnull().sum()

id                                    0
host_id                               0
host_name                            10
host_since                            0
host_location                         0
host_response_time                37230
host_response_rate                37230
host_acceptance_rate              31246
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
price                                 0
number_of_reviews                     0
review_scores_value               41923
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [6]:
df[df['review_scores_value'] == 0]

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
23566,9511685,49286334,Tairan,2015-11-17,Beijing China,NaN,NaN,NaN,f,1.0,...,80.0,1,0.0,1,New York City,13,Stuyvesant Town New York City,f,p,4
31180,12876883,11452065,Arthur,2014-01-19,Atlanta GA,NaN,NaN,NaN,f,1.0,...,70.0,1,0.0,1,New York City,13,Borough Park New York City,f,ep,4
37712,6989258,7339760,Maritza,2013-07-07,New York NY,NaN,NaN,NaN,f,1.0,...,130.0,1,0.0,1,New York City,10,East Harlem New York City,f,ep,4
53622,5191617,3977023,Vaida,2012-10-25,New York NY,NaN,NaN,NaN,f,2.0,...,70.0,1,0.0,2,New York City,4,Bedford-Stuyvesant New York City,f,ep,3
80708,6785526,35526082,Emmanuel,2015-06-11,Los Angeles CA,NaN,NaN,NaN,f,1.0,...,100.0,1,0.0,1,Los Angeles,13,Hollywood Hills West Los Angeles,f,ep,4
86417,3372295,2155564,Mitch,2012-04-16,United States,within a few hours,100%,NaN,f,2.0,...,125.0,1,0.0,2,Los Angeles,13,Long Beach Los Angeles,f,ep,3
86443,6764023,35410289,Kandis,2015-06-09,unknown,NaN,NaN,NaN,f,1.0,...,243.0,1,0.0,1,Los Angeles,15,View Park-Windsor Hills Los Angeles,f,ep,4
102366,3219230,8501813,Audrey,2013-08-28,Los Angeles CA,NaN,NaN,NaN,f,1.0,...,145.0,1,0.0,1,Los Angeles,11,Silver Lake Los Angeles,f,ep,3
103984,1393501,157662,Libby,2010-07-03,Los Angeles CA,NaN,NaN,NaN,f,1.0,...,250.0,1,0.0,1,Los Angeles,28,Koreatown Los Angeles,f,epw,5
106191,12468950,48281835,Matthew,2015-11-05,California United States,NaN,NaN,NaN,f,1.0,...,130.0,1,0.0,1,Los Angeles,11,Venice Los Angeles,f,epw,3
117597,59831,287859,Lawrence,2010-11-15,San Francisco CA,NaN,NaN,NaN,f,1.0,...,100.0,1,0.0,1,San Francisco,6,Outer Sunset San Francisco,f,ep,2
143462,2488935,965847,Stacy,2011-08-13,Austin TX,NaN,NaN,NaN,f,1.0,...,650.0,1,0.0,1,Austin,10,78702 Austin,f,ep,2

In [7]:
df[df['number_of_reviews'] == 0]

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,Fort Lauderdale Broward County,f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,Alpharetta GA,within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,Pompano Beach Broward County,f,ep,3
12,53654833,67343737,Martin,2016-04-15,Boca Raton FL,within a few hours,100%,97%,f,1.0,...,868.0,0,NaN,4,Broward County,68,Oakland Park Broward County,f,epw,5
13,851311584457624749,250715779,Ebony,2019-03-23,Pompano Beach FL,within a day,89%,20%,f,1.0,...,47.0,0,NaN,1,Broward County,14,Pompano Beach Broward County,f,ep,3
19,51864926,12568111,Antoinette,2014-02-25,Los Angeles CA,within an hour,100%,61%,t,1.0,...,629.0,0,NaN,11,Broward County,24,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185817,848982732370093638,107434423,Blueground,2016-12-16,New York NY,within an hour,100%,97%,f,4807.0,...,95.0,0,NaN,658,Chicago,29,Edgewater Chicago,t,epw,5
185818,849181288802249186,31669178,Donna,2015-04-21,Chicago IL,within an hour,100%,69%,t,14.0,...,107.0,0,NaN,13,Chicago,4,Rogers Park Chicago,t,ep,2
185819,849355136099814004,165881852,Jacob,2018-01-04,Chicago IL,NaN,NaN,NaN,f,1.0,...,240.0,0,NaN,1,Chicago,51,Lake View Chicago,f,epw,5
185820,849539062724535549,100179,Kenneth,2010-03-28,Chicago IL,within an hour,90%,100%,f,11.0,...,95.0,0,NaN,4,Chicago,42,Woodlawn Chicago,t,epw,5
185888,1417110,7622794,Leah,2013-07-21,Chicago IL,NaN,NaN,100%,f,1.0,...,100.0,0,NaN,1,Chicago,35,Uptown Chicago,f,ep,5

In [9]:
non_zero = df[df['number_of_reviews'] != 0]

In [10]:
non_zero

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,Southwest Ranches Broward County,f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,Fort Lauderdale FL,within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,Pompano Beach Broward County,f,pw,4
4,484515,637272,Bianca,2011-05-28,Buenos Aires Argentina,within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,Hollywood Broward County,f,ep,3
5,45990221,365280298,ResortShare,2020-08-31,Irvine CA,within an hour,100%,100%,f,1.0,...,162.0,162,4.64,5,Broward County,69,Pompano Beach Broward County,f,ep,5
6,48030650,131978491,Daniel,2017-05-25,Miami FL,within a few hours,99%,92%,f,1.0,...,92.0,36,4.83,15,Broward County,17,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,Chicago IL,within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,Lincoln Park Chicago,f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,Logan Square Chicago,f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,Chicago IL,NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,Uptown Chicago,f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,West Town Chicago,f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,West Town Chicago,f,ep,5

In [11]:
non_zero.isnull().sum()

id                                    0
host_id                               0
host_name                             6
host_since                            0
host_location                         0
host_response_time                25776
host_response_rate                25776
host_acceptance_rate              19832
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
price                                 0
number_of_reviews                     0
review_scores_value                 934
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [12]:
non_zero_not_null = non_zero[non_zero['review_scores_value'].notnull()]
non_zero_not_null

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
2,772438920837360569,382318476,Maggie,2020-12-30,Unknown,within an hour,100%,89%,t,1.0,...,500.0,2,5.00,1,Broward County,14,Southwest Ranches Broward County,f,ep,3
3,33271346,118856968,Steve And Jo,2017-03-02,Fort Lauderdale FL,within an hour,100%,100%,f,1.0,...,186.0,129,4.68,3,Broward County,22,Pompano Beach Broward County,f,pw,4
4,484515,637272,Bianca,2011-05-28,Buenos Aires Argentina,within an hour,95%,26%,f,1.0,...,297.0,27,4.44,6,Broward County,17,Hollywood Broward County,f,ep,3
5,45990221,365280298,ResortShare,2020-08-31,Irvine CA,within an hour,100%,100%,f,1.0,...,162.0,162,4.64,5,Broward County,69,Pompano Beach Broward County,f,ep,5
6,48030650,131978491,Daniel,2017-05-25,Miami FL,within a few hours,99%,92%,f,1.0,...,92.0,36,4.83,15,Broward County,17,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,Red,2010-03-31,Chicago IL,within a few hours,100%,75%,f,8.0,...,86.0,51,4.35,3,Chicago,40,Lincoln Park Chicago,f,ep,5
185914,28749,27506,Lauri,2009-07-25,Italy,within a few hours,100%,85%,t,1.0,...,157.0,169,4.67,1,Chicago,44,Logan Square Chicago,f,ep,5
185915,37738,162364,Mat And Randy,2010-07-09,Chicago IL,NaN,NaN,NaN,f,2.0,...,110.0,250,4.98,2,Chicago,40,Uptown Chicago,f,epw,5
185916,71930,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,84.0,101,4.80,2,Chicago,43,West Town Chicago,f,ep,5
185917,84042,334241,Michael And Veronica,2011-01-03,Chicago IL,within an hour,90%,97%,t,2.0,...,89.0,124,4.86,2,Chicago,36,West Town Chicago,f,ep,5

In [13]:
non_zero_not_null.isnull().sum()

id                                    0
host_id                               0
host_name                             2
host_since                            0
host_location                         0
host_response_time                24953
host_response_rate                24953
host_acceptance_rate              19027
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
price                                 0
number_of_reviews                     0
review_scores_value                   0
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [14]:
non_zero_not_null = non_zero_not_null.drop(columns=['host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_name'])
non_zero_not_null

,id,host_id,host_since,host_location,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighborhood,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
2,772438920837360569,382318476,2020-12-30,Unknown,t,1.0,3.0,t,t,Southwest Ranches,...,500.0,2,5.00,1,Broward County,14,Southwest Ranches Broward County,f,ep,3
3,33271346,118856968,2017-03-02,Fort Lauderdale FL,f,1.0,12.0,t,f,Pompano Beach,...,186.0,129,4.68,3,Broward County,22,Pompano Beach Broward County,f,pw,4
4,484515,637272,2011-05-28,Buenos Aires Argentina,f,1.0,20.0,t,t,Hollywood,...,297.0,27,4.44,6,Broward County,17,Hollywood Broward County,f,ep,3
5,45990221,365280298,2020-08-31,Irvine CA,f,1.0,5.0,t,f,Pompano Beach,...,162.0,162,4.64,5,Broward County,69,Pompano Beach Broward County,f,ep,5
6,48030650,131978491,2017-05-25,Miami FL,f,1.0,17.0,t,t,Pompano Beach,...,92.0,36,4.83,15,Broward County,17,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185913,25879,101521,2010-03-31,Chicago IL,f,8.0,12.0,t,t,Lincoln Park,...,86.0,51,4.35,3,Chicago,40,Lincoln Park Chicago,f,ep,5
185914,28749,27506,2009-07-25,Italy,t,1.0,7.0,t,t,Logan Square,...,157.0,169,4.67,1,Chicago,44,Logan Square Chicago,f,ep,5
185915,37738,162364,2010-07-09,Chicago IL,f,2.0,2.0,t,t,Uptown,...,110.0,250,4.98,2,Chicago,40,Uptown Chicago,f,epw,5
185916,71930,334241,2011-01-03,Chicago IL,t,2.0,3.0,t,f,West Town,...,84.0,101,4.80,2,Chicago,43,West Town Chicago,f,ep,5
185917,84042,334241,2011-01-03,Chicago IL,t,2.0,3.0,t,f,West Town,...,89.0,124,4.86,2,Chicago,36,West Town Chicago,f,ep,5

In [15]:
non_zero_not_null.isnull().sum()

id                                0
host_id                           0
host_since                        0
host_location                     0
host_is_superhost                 0
host_listings_count               0
host_total_listings_count         0
host_has_profile_pic              0
host_identity_verified            0
neighborhood                      0
latitude                          0
longitude                         0
room_type                         0
accommodates                      0
num_bath                          0
bedrooms                          0
beds                              0
price                             0
number_of_reviews                 0
review_scores_value               0
calculated_host_listings_count    0
city                              0
amenities_count                   0
neighborhood_city                 0
full_time_host                    0
host_verifications_clean          0
essential_amenities               0
dtype: int64

In [16]:
non_zero_not_null.to_csv('clean-data/zero-review-final.csv', index=False)

In [17]:
zero = df[df['number_of_reviews'] == 0]

In [18]:
zero

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,Sean,2022-08-18,Unknown,within an hour,100%,94%,f,1.0,...,222.0,0,NaN,1,Broward County,10,Fort Lauderdale Broward County,f,p,3
1,592589963829194972,66506549,Ryan,2016-04-09,Alpharetta GA,within an hour,98%,16%,f,1.0,...,500.0,0,NaN,5,Broward County,29,Pompano Beach Broward County,f,ep,3
12,53654833,67343737,Martin,2016-04-15,Boca Raton FL,within a few hours,100%,97%,f,1.0,...,868.0,0,NaN,4,Broward County,68,Oakland Park Broward County,f,epw,5
13,851311584457624749,250715779,Ebony,2019-03-23,Pompano Beach FL,within a day,89%,20%,f,1.0,...,47.0,0,NaN,1,Broward County,14,Pompano Beach Broward County,f,ep,3
19,51864926,12568111,Antoinette,2014-02-25,Los Angeles CA,within an hour,100%,61%,t,1.0,...,629.0,0,NaN,11,Broward County,24,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185817,848982732370093638,107434423,Blueground,2016-12-16,New York NY,within an hour,100%,97%,f,4807.0,...,95.0,0,NaN,658,Chicago,29,Edgewater Chicago,t,epw,5
185818,849181288802249186,31669178,Donna,2015-04-21,Chicago IL,within an hour,100%,69%,t,14.0,...,107.0,0,NaN,13,Chicago,4,Rogers Park Chicago,t,ep,2
185819,849355136099814004,165881852,Jacob,2018-01-04,Chicago IL,NaN,NaN,NaN,f,1.0,...,240.0,0,NaN,1,Chicago,51,Lake View Chicago,f,epw,5
185820,849539062724535549,100179,Kenneth,2010-03-28,Chicago IL,within an hour,90%,100%,f,11.0,...,95.0,0,NaN,4,Chicago,42,Woodlawn Chicago,t,epw,5
185888,1417110,7622794,Leah,2013-07-21,Chicago IL,NaN,NaN,100%,f,1.0,...,100.0,0,NaN,1,Chicago,35,Uptown Chicago,f,ep,5

In [19]:
zero.isnull().sum()

id                                    0
host_id                               0
host_name                             4
host_since                            0
host_location                         0
host_response_time                11454
host_response_rate                11454
host_acceptance_rate              11414
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
price                                 0
number_of_reviews                     0
review_scores_value               40989
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [20]:
zero = zero.drop(columns=['host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_name'])
zero

,id,host_id,host_since,host_location,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighborhood,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
0,827736378366911479,475630606,2022-08-18,Unknown,f,1.0,3.0,t,t,Fort Lauderdale,...,222.0,0,NaN,1,Broward County,10,Fort Lauderdale Broward County,f,p,3
1,592589963829194972,66506549,2016-04-09,Alpharetta GA,f,1.0,112.0,t,t,Pompano Beach,...,500.0,0,NaN,5,Broward County,29,Pompano Beach Broward County,f,ep,3
12,53654833,67343737,2016-04-15,Boca Raton FL,f,1.0,6.0,t,t,Oakland Park,...,868.0,0,NaN,4,Broward County,68,Oakland Park Broward County,f,epw,5
13,851311584457624749,250715779,2019-03-23,Pompano Beach FL,f,1.0,3.0,t,f,Pompano Beach,...,47.0,0,NaN,1,Broward County,14,Pompano Beach Broward County,f,ep,3
19,51864926,12568111,2014-02-25,Los Angeles CA,t,1.0,465.0,t,t,Pompano Beach,...,629.0,0,NaN,11,Broward County,24,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185817,848982732370093638,107434423,2016-12-16,New York NY,f,4807.0,5358.0,t,t,Edgewater,...,95.0,0,NaN,658,Chicago,29,Edgewater Chicago,t,epw,5
185818,849181288802249186,31669178,2015-04-21,Chicago IL,t,14.0,18.0,t,t,Rogers Park,...,107.0,0,NaN,13,Chicago,4,Rogers Park Chicago,t,ep,2
185819,849355136099814004,165881852,2018-01-04,Chicago IL,f,1.0,1.0,t,f,Lake View,...,240.0,0,NaN,1,Chicago,51,Lake View Chicago,f,epw,5
185820,849539062724535549,100179,2010-03-28,Chicago IL,f,11.0,97.0,t,t,Woodlawn,...,95.0,0,NaN,4,Chicago,42,Woodlawn Chicago,t,epw,5
185888,1417110,7622794,2013-07-21,Chicago IL,f,1.0,1.0,t,t,Uptown,...,100.0,0,NaN,1,Chicago,35,Uptown Chicago,f,ep,5

In [21]:
zero.isnull().sum()

id                                    0
host_id                               0
host_since                            0
host_location                         0
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
price                                 0
number_of_reviews                     0
review_scores_value               40989
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [22]:
zero.to_csv('clean-data/zero-review.csv', index=False)

In [23]:
concatenated_df = pd.concat([non_zero_not_null, zero])
concatenated_df

,id,host_id,host_since,host_location,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighborhood,...,price,number_of_reviews,review_scores_value,calculated_host_listings_count,city,amenities_count,neighborhood_city,full_time_host,host_verifications_clean,essential_amenities
2,772438920837360569,382318476,2020-12-30,Unknown,t,1.0,3.0,t,t,Southwest Ranches,...,500.0,2,5.00,1,Broward County,14,Southwest Ranches Broward County,f,ep,3
3,33271346,118856968,2017-03-02,Fort Lauderdale FL,f,1.0,12.0,t,f,Pompano Beach,...,186.0,129,4.68,3,Broward County,22,Pompano Beach Broward County,f,pw,4
4,484515,637272,2011-05-28,Buenos Aires Argentina,f,1.0,20.0,t,t,Hollywood,...,297.0,27,4.44,6,Broward County,17,Hollywood Broward County,f,ep,3
5,45990221,365280298,2020-08-31,Irvine CA,f,1.0,5.0,t,f,Pompano Beach,...,162.0,162,4.64,5,Broward County,69,Pompano Beach Broward County,f,ep,5
6,48030650,131978491,2017-05-25,Miami FL,f,1.0,17.0,t,t,Pompano Beach,...,92.0,36,4.83,15,Broward County,17,Pompano Beach Broward County,f,ep,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185817,848982732370093638,107434423,2016-12-16,New York NY,f,4807.0,5358.0,t,t,Edgewater,...,95.0,0,NaN,658,Chicago,29,Edgewater Chicago,t,epw,5
185818,849181288802249186,31669178,2015-04-21,Chicago IL,t,14.0,18.0,t,t,Rogers Park,...,107.0,0,NaN,13,Chicago,4,Rogers Park Chicago,t,ep,2
185819,849355136099814004,165881852,2018-01-04,Chicago IL,f,1.0,1.0,t,f,Lake View,...,240.0,0,NaN,1,Chicago,51,Lake View Chicago,f,epw,5
185820,849539062724535549,100179,2010-03-28,Chicago IL,f,11.0,97.0,t,t,Woodlawn,...,95.0,0,NaN,4,Chicago,42,Woodlawn Chicago,t,epw,5
185888,1417110,7622794,2013-07-21,Chicago IL,f,1.0,1.0,t,t,Uptown,...,100.0,0,NaN,1,Chicago,35,Uptown Chicago,f,ep,5

In [24]:
concatenated_df.isnull().sum()

id                                    0
host_id                               0
host_since                            0
host_location                         0
host_is_superhost                     0
host_listings_count                   0
host_total_listings_count             0
host_has_profile_pic                  0
host_identity_verified                0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
num_bath                              0
bedrooms                              0
beds                                  0
price                                 0
number_of_reviews                     0
review_scores_value               40989
calculated_host_listings_count        0
city                                  0
amenities_count                       0
neighborhood_city                     0
full_time_host                        0
host_verifications_clean              0
essential_amenities                   0
dtype: int64

In [25]:
concatenated_df.to_csv('clean-data/final-final-df.csv', index=False)